#animate {
    position: absolute;
    top:50px;
    z-index: 19999;
}

#background {
    position: absolute;
    top: 50px;
    z-index: 9999;
}

#asdf {
    position: absolute;
    height: 2000px;
}